/* 全局設定 */
body {
    font-family: Arial, sans-serif;
    background-color: #edf2c5;
    margin: 0; /* 重置margin */
    padding: 0;
    display: flex;
    flex-direction: column; /* 使內容垂直排列 */
    align-items: center; /* 讓內容水平置中 */
}


/* 頁首設定 */
.a1{
    width: 1120px;
    height: 1150px;
    
    margin: auto;
    align-items: center; 

}
header {
    width: 1122px;
    height: 62px;
    top: 36px;
    left: 160px;
    padding: 0px 0px 2px 0px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
    
    
   
    
}
header h1 {
    color:#778a50;
    font-size: 44px;
    font-weight: 900px;
    border-radius: 3px;
    margin-top: 10px;
    
    

}
.a1 section{
    margin-left: 10px;
    display: flex;


}

.section img{
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;

}

.section a {
    margin-right: 10px;
    color: #788254;
    font-size: 16px;
    text-decoration: none;
    line-height: 0px; 

}

nav {
    margin-top: 30px;
    background-color: #778a50;
    padding: 20px;
    text-align: left;
    width: 1120px;
    height: 44px;
    
    
    
}


nav ul {
    list-style-type: none; /* 移除整個列表的項目符號 */
    padding: 0;
    margin: 0;

}

nav ul li {
    font-size: 22px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    color:#edf2c5;
    margin-right: 20px;
    display: inline;

}

nav ul li a{
    color:#edf2c5;
    text-decoration: none;
}

/* 對其用的框框 */
.transparent-box {
    width: 1120px;
    height: 681px;
    top: 166px;
    left: 160px;
    gap: 0px;
    opacity: 0px;

}

/* 主內容區域 */

.main-image img {
    margin-top: 30px;
    width: 100%;
}


.pp {
    
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.block {
    width: 528px;
    height: 45px;
    background-color: #778a50;
    margin-bottom: 18px;
    color:#edf2c5;
    border-radius: 3px;
}

.vegetable-images img {
    width: 30%;
}

.block2 {
    width: 528px;
    height: 45px;
    background-color: #778a50;
    margin-bottom: 18px;
    color:#edf2c5;
    border-radius: 3px; 
    margin-top: 20px;
    
}

.contact{
    width: 528px;
    height: 140px;
    top: 61px;
    padding: 16px 0px 0px 0px;
    gap: 9px;
    opacity: 0px;
    background-color: #f7fbda;
    color: #7d7d7d;

}




footer {

    background-color: #778a50;
    width: 100%; /* 使footer寬度為100% */
    height: 60px;
    padding: 21px 0; /* 調整內邊距 */
    
    display: flex;
    justify-content: center; /* 使footer中的內容水平置中 */
    align-items: center; /* 垂直置中 */


}
